<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Student</h1>

    <%= render 'form' %>

    <%= link_to 'Back', students_path %>
  </body>
</html>
