<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit course</title>
  </head>
  <body>
    <h1>Edit Course</h1>

    <%= render 'form' %>

    <%= link_to 'Back', courses_path %>
  </body>
</html>
